#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: start;
  color-scheme: dark;
}

body {
  background-color: #121212;
  color: #f8f9fa;
}

.nav-item .nav-link.active {
  color: #ffc107 !important;
  font-weight: bold;
}

/*
.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
} */
