#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: start;
  color-scheme: dark;
}

body {
  background-color: #121212;
  color: #f8f9fa;
}

.nav-item .nav-link.active {
  color: #ffc107 !important;
  font-weight: bold;
}

.question,
.card.sobre {
  will-change: filter;
  transition: all 400ms;
}
.question:hover {
  color: #ffc107 !important;
  filter: drop-shadow(0 0 1em #61dafbaa);
}
.card.sobre:hover {
  color: #ffc107 !important;
  filter: drop-shadow(0 0 0.5em #fafafaaa);
}
